<div class="container py-2">
    <div class="row my-2">
        <div class="col-lg-8">
            <h2> <strong> Account Update Form </strong> </h2>
            
        </div>
        <div class="col-lg-8 order-lg-1 personal-info">
            <form role="form">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">First name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="CURRENT USER FIRST NAME" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Last name</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="CURRENT USER LAST NAME" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Email</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="email" value="CURRENT USER EMAIL" />
                    </div>
                </div>
                
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Address</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="CURRENT USER STREET" placeholder="Street" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-6">
                        <input class="form-control" type="text" value="CURRENT USER CITY" placeholder="City" />
                    </div>
                    <div class="col-lg-3">
                        <input class="form-control" type="text" value="CURRENT USER STATE" placeholder="State" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Username</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" value="CURRENT USER USERNAME" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">SSN</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="password" value="CURRENT USER SSN" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Password</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="password" value="CURRENT USER PASSWORD" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="password" value="CURRENT USER PASSWORD" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-9 ml-auto text-right">
                        <input type="reset" class="btn btn-outline-secondary" value="Cancel" />
                        <input type="button" class="btn btn-primary" value="Save Changes" />
                    </div>
                </div>
            </form>
        </div>
       
            </div>
        </div>
 