html {
    .nav {
        font-weight: bold;
           position: sticky;
  	 		top: 0;
   			z-index: 100;
    }

    .nav-link:hover {
        background-color: cornsilk;
        transition: 0.3s;
    }

    .b {
        background-color: cornsilk;
    }
}