h5 {
    padding: 10px;

}

.special {
    padding: 0px;
}

button {
    padding: 10px;
    border: 1.5px solid gray;
    border-radius: 50px;
}

li {
    list-style: none;
}

.special-a {
    text-decoration: underline;
}

.special-a:hover {
    font-style: italic;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
}