<div class="navbar m-1 bg-white  container-fluid border h-100">
    <div class="container-fluid my-5 d-flex justify-content-center">
        <div>
            <div class="card-header bg-white">
                <div class="media flex-sm-row flex-column-reverse justify-content-between">
                    <div class="col my-auto">
                        <h4 class="mb-0">My Orders</h4>
                    </div>
                </div>
            </div>

            <div class="card-body" *ngFor="let order of orders">
                <div class="row justify-content-between mb-3" *ngIf="order.user.userId == 3">
                    <div class="col-auto">
                        <h6 class="color-1 mb-0 change-color">Date Placed: {{order.orderDate}} | Order
                            #{{order.orderId}}</h6>
                    </div>
                    <div class="col-auto">
                        <h6 class="color-1 mb-0 change-color">Total Price: ${{order.amount}} ({{order.products.length}}
                            items)</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="border: 1.5px solid lightslategray; border-radius: 10px; "
                        *ngIf="order.user.userId == 3">
                        <div class="sq align-self-center">
                            <h5>{{ order.status ? "Shipped" : "In Transit" }}</h5>
                        </div>
                        <div class="product-card" *ngFor="let product of order.products">
                            <div class="media-body my-auto text-right">
                                <div class="row my-auto flex-column flex-md-row">
                                    <div class="col align-self-center"><img class="img-thumbnail w-50 h-50"
                                            [src]="product.image" [alt]="product.name"></div>
                                    <div class="col my-auto">
                                        <h6 class="mb-0">{{product.name}}</h6>
                                    </div>
                                    <div class="col my-auto">
                                        <h6 class="mb-0">${{product.price}}</h6>
                                    </div>
                                </div>
                            </div>

                            <hr>
                        </div>
                        <div class="col my-auto vstack">
                            <div style=" padding: 10px;">Shipping Address: <br>{{order.shippingAddress}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>